[2017-07-21 09:34] s-m-e opened #1 "Support for HRESULT is missing"
Current workaround: Use c_long instead and parse it manually.

Intended solution: Handle HRESULT like ctypes would, i.e. check the error bit and raise an error if it is set when HRESULT is used as a return value type.

[2017-07-21 09:35] s-m-e opened #2 "Support for VARIANT_BOOL is missing"
Workaround: None.

Intended solution: Implement it.

[2017-07-21 09:40] s-m-e opened #3 "Function prototypes with CFUNCTYPE are missing"
Problem: Pointers to callback functions can not be passed into DLL routines.

[2017-07-21 09:42] s-m-e opened #4 "Function prototypes with WINFUNCTYPE are missing"
Problem: Pointers to callback functions can not be passed into DLL routines.

[2017-07-21 09:43] s-m-e opened #5 "COM DLLs can't be accessed"
Workaround: None.

Intended solution: Implement ``DllCanUnloadNow`` and ``DllGetClassObject``.

[2017-07-21 09:50] s-m-e opened #6 "Fixed-length arrays are not properly supported as parameters"
Required rewrite of portions of the argument parser.

[2017-07-21 09:51] s-m-e opened #7 "Null-terminated strings are unsupported"
The ``memsync`` needs to be extended to handle them.

[2017-07-21 09:54] s-m-e opened #8 "META-BUG: ctypes errors"
Reference this bug if you encounter errors, which are not handled / raised like ctypes would. There are still plenty of them.

[2017-07-21 09:55] s-m-e opened #9 "Divide log into log-levels"
The log should be divided into log-levels with more or less details. Higher log-levels should contain details of the current stack frame such as line number or calling routine (based on ``inspect``). Log level support exists, though all messages currently use default level 1.

[2017-07-21 09:58] s-m-e opened #10 "Support PyPy"

[2017-07-21 09:59] s-m-e opened #11 "Support Python 2 (syntax)"

[2017-07-21 10:01] s-m-e opened #12 "Support CrossOver (in addition to Wine)"

[2017-07-21 10:05] s-m-e opened #13 "CPython >= 3.6 for Windows does not work with Wine"
[Wine bug #42474](https://bugs.winehq.org/show_bug.cgi?id=42474) ("Python 3.6 needs function api-ms-win-core-path-l1-1-0.dll.PathCchCombineEx") renders CPython 3.6.x for Windows unusable under Wine. 3.5 or prior has to be used instead.

[2017-07-21 12:57] s-m-e opened #14 "Pointers in return values are no handled"
Workaround: None.

[2017-07-21 13:02] s-m-e opened #15 "Behavior on BSD is untested"
Testers needed.

[2017-07-21 13:02] s-m-e opened #16 "Behavior on MacOS is untested"
Testers needed.

---

EDIT (2018-03-05): Confirmed to work on Mac OS X out of the box with Wine installed. Support for CI testing on Mac OS must be added next.

[2017-08-31 06:12] s-m-e commented on #13
[Upstream patch available](https://github.com/wine-compholio/wine-staging/blob/master/patches/kernelbase-PathCchCombineEx/0001-kernelbase-Add-semi-stub-for-PathCchCombineEx.patch).

[2017-11-02 19:32] s-m-e commented on #6
Added support for fixed length 1D arrays to development branch (commit 3fb10d2843bce9ba06d230f11c364527a6e472f4).

[2017-11-05 18:18] s-m-e commented on #6
Fully implemented in v0.0.4 (commit 0213048e3f34fe0beefb43eb5b5ed37f00efc3fc).

[2017-11-05 18:18] #6 closed

[2017-11-06 14:15] s-m-e opened #17 "Light-weight pointers (ctypes.byref) can not be handled"
Present in v0.0.4, causing crash.

[2017-11-06 14:15] s-m-e commented on #17
Fixed in development branch.

[2017-11-06 14:18] s-m-e opened #18 "Non-pointer elements within structures passed as pointers are not being synchronized"
Present in v0.0.4.

[2017-11-06 14:18] s-m-e commented on #18
Fixed in development branch.

[2017-11-13 08:53] s-m-e commented on #18
Fixed in v0.0.5.

[2017-11-13 08:53] #18 closed

[2017-11-13 08:54] s-m-e commented on #17
Fixed in v0.0.5.

[2017-11-13 08:54] #17 closed

[2018-03-05 07:11] jtlz2 commented on #16
@s-m-e I'm happy to test :)

So far:

[code]

Is this a 2 vs 3 issue, or a genuine bug in that urllib has no request module?

[2018-03-05 07:13] jtlz2 commented on #16
@s-m-e I'm happy to test - so far so good:

    python3 -c "from zugbruecke import windll, c_float"

gives no output :)

[2018-03-05 08:39] s-m-e commented on #16
@jtlz2 Thanks for your interest and your test :)

For a full test, you need **Python 3**, Wine and a Windows DLL you can call into. If you do not have one around, you can call onto one of the DLLs, which are shipped with Wine. The example in the [readme file](https://github.com/pleiszenburg/zugbruecke/blob/master/README.rst) is about the most trivial test and should work out of the box - once the

[2018-03-05 08:53] jtlz2 commented on #16
@s-m-e Thanks in advance for all assistance - this will be super-useful to me if we can get it up-and-running.

I've got this far now:

[code]

[2018-03-05 08:57] jtlz2 commented on #16
@s-m-e Apologies - I was running off the other demo [example](http://zugbruecke.readthedocs.io/en/latest/examples.html)

The code can't find `msvcrt`

Traceback (most recent call last):
  File "/usr/local/Cellar/python3/3.6.4_2/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/zugbruecke/_wrapper_.py", line 164, in CDLL
    'mode': mode, 'use_errno': use_errno, 'use_last_error':

[2018-03-05 09:10] s-m-e commented on #16
I just ran the following in a clean environment:

[code]

Notice that I loaded the dll in a slightly different way: `ctypes.cdll.LoadLibrary('msvcrt.dll')`. Could you try that?

You can also verify that the dll exists. In my case, I can do the following:

[code]

The module should create a folder named `.zugbruecke` in your home folder (`~` or `$HOME`). I am not entirely sure how this looks like o

[2018-03-05 09:19] s-m-e commented on #16
@jtlz2 You can also try loading it from its absolute fake path:
[code]

[2018-03-05 09:28] jtlz2 commented on #16
@s-m-e OK good so the dll is there:

[code]

Permissions (am running python3 as root) (currently -rw-r--r--)?

This didn't work:

[code]

[2018-03-05 09:34] jtlz2 commented on #16
@s-m-e The following (non-fake path) gave:

[code]

[2018-03-05 09:39] s-m-e commented on #16
@jtlz2 Ok, I just looked at your trace-backs more carefully. For whatever reason, in your case, the `zugbruecke` module fails to start the Windows Python interpreter on top of Wine. This is the real showstopper. It does not even attempt to load the DLL. The idea is that you have two Python interpreters running: Your regular one on top of your Unix, i.e. OSX, and a Windows version on top of Wine, r

[2018-03-05 10:07] s-m-e commented on #16
@jtlz2 You can also test something more basic - whether or not the Windows Python interpreter can actually start. For this, you have to configure the log level back to 0 (or remove / rename `.zugbruecke.json`). Then, you can try the following:

[code]

The `readline` error is expected. Otherwise, the Python interpreter should work just fine.

[2018-03-05 10:32] jtlz2 commented on #16
@s-m-e Excellent - nice interface BTW.

I think the problem was actually my over-cautious `sudo python3` rather than just `python3`:

[code]

For your second test, wine-python is calling python2:

[code]

What's the best way to fix this? (I am loathe to abandon python2 for good :\ )

[2018-03-05 10:40] jtlz2 commented on #16
@s-m-e Excellent! This works:

[code]

The DLL I need to wrap is relatively bespoke, and I am not that familiar with ctypes in fact (have used CFFI though) - what is a good intermediate/next step for me to try?

[2018-03-05 10:47] s-m-e commented on #16
@jtlz2 Cool :) In terms of `sudo` ... [I should make the warning even more obvious](https://github.com/pleiszenburg/zugbruecke#security), I guess.

Fixing the latter - in my environment, the `python` command always points to `python3`, which is why I overlooked this case - sry. It's three files I'd have to patch (in your case probably located in `/usr/local/bin`, named `wine-python`, `wine-pip` an

[2018-03-05 10:57] s-m-e commented on #16
@jtlz2 **Mac OS X support is hereby confirmed**, I suppose. Thanks a lot for testing.

With respect to your DLL, feel free to open up a separate issue and post as much information on it as you can / want - most importantly any header files you might have. I can help you from there. Things become a bit tricky with `zugbruecke` if you're using more complicated structure types and pointers, but this

[2018-03-05 11:26] jtlz2 commented on #16
@s-m-e Huge thanks - and speedy response much appreciated

No no, I saw that warning on a reread - my bad :)

I'm trying to do `make test` and running into the 2 vs 3 issue - a fix would be great but in the meantime I'll hack it myself yes.

This is great - no problem re testing - happy to help and looking forward to exploring some more.

I'll have a crack at the DLL and get back to you asap - tha

[2018-03-05 11:48] jtlz2 commented on #16
@s-m-e Is it OK if I email you rather?

[2018-03-05 11:51] s-m-e commented on #16
@jtlz2 [Sure.](http://www.pleiszenburg.de/#contact)

[2018-03-05 18:33] s-m-e opened #19 "(Travis) CI support for Mac OS X is missing"
The module is known to work on Mac OS X, see issue #16.

(Travis) CI support is required for ensuring compatibility in the long run.

[2018-03-05 18:34] s-m-e commented on #16
I am closing this issue as Mac OS X support has been confirmed :)

[2018-03-05 18:34] #16 closed

[2018-03-05 18:42] s-m-e opened #20 "Wine Python environment may, unintentionally, fall back to Python 2 and crash"
The bash scripts `wine-python`, `wine-pip` and `wine-pytest` read parameters from `zugbruecke` configuration using the `python` command. Depending on the environment, this may point to Python 2, which is unintended and unsupported.

[2018-03-05 19:30] s-m-e commented on #20
@jtlz2 Thanks for noticing. Fixed in 0.0.7, released just now.

[2018-03-05 19:30] #20 closed

[2018-03-06 10:00] s-m-e opened #21 "argtypes definitions with one single argument are not raising a TypeError if not passed as a tuple or list"
[See here.](https://github.com/pleiszenburg/zugbruecke/blob/20f2e44b57e1a59087eae36683582a9657f1d8f4/src/zugbruecke/core/routine_client.py#L151)

[2018-03-09 14:39] yssource opened #22 "fail to run examples"
It seems that it is not able to load `demo_dll.dll`. And I have complied the dll by `x86_64-w64-mingw32-gcc`

- Linux localhost 4.15.6-300.fc27.x86_64
- fedora27
- x86_64-w64-mingw32-gcc

[2018-03-09 14:47] yssource commented on #22
I think it is caused by `x86_64-w64-mingw32-gcc`.
Any one know how to make a good one dll under fedora27?

[2018-03-09 16:28] yssource opened #23 "How to write codes about `argtypes` , `memsync` and `restype` for `EnumWindows` ?"
@s-m-e Thanks a lot for your project.

How to write codes about `argtypes` , `memsync` and `restype` for `EnumWindows` ?
Could you help me and give me a example?

[code]

[2018-03-09 20:03] s-m-e commented on #22
@yssource How did you compile the DLL? Looks like you used a 64 bit version of `mingw`, producing a 64 bit DLL. `zugbruecke` by default runs on top of 32 bit versions of Wine and Python for Windows. You can either try to install a 32 bit version of `mingw` and compile the DLL in 32 bit mode or configure `zugbruecke` to run in 64 bit mode (with 64 bit versions of Wine and Python for Windows), see t

[2018-03-09 20:09] s-m-e commented on #23
@yssource You're welcome :)

I am not entirely sure about your usecase for `EnumWindows` (a Windows API for enumerating all open Windows on the user's screen?), but I will look into the definition. It is likely going to enumerate all open windows of processes running on top of the current Wine server if you do try to call it on a Unix system.

[2018-03-10 02:40] yssource commented on #23
- [My original snippet](#sec-1)
- [My trial](#sec-2)

Here is snippet of my codes which work well under windows with ctypes.

And now, I try to modify it in order to work with zugbruecke.

# My original snippet<a id="sec-1"></a>

[code]
-   I noteice that `WINFUNCTYPE` is not supported in zugbruecke, so I change it to `CFUNCTYPE`

![screenshot from 2018-03-10 09-16-33](https://user-images.githubus

[2018-03-10 02:44] yssource commented on #22
With ~i686-w64-mingw32-gcc~, now it's working.

Thanks.

[2018-03-10 02:44] #22 closed

[2018-03-10 08:56] s-m-e commented on #23
@yssource I see where you problem is. `zugbruecke` does not support [call back functions](https://en.wikipedia.org/wiki/Callback_(computer_programming)) as argument types (yet). As you have already discovered, *both* types of call back function pointers, `CFUNCTYPE` and `WINFUNCTYPE`, are unsupported at this point. In your snipped / trial, you are essentially trying to pass a pointer to a (call ba

[2018-03-10 09:52] yssource commented on #23
Thanks all the same.
I'd like take more time to learn your project and try to find a solution of the callback.

[2018-03-13 15:00] s-m-e commented on #14
Started to work on this, see [branch pointer_restype](https://github.com/pleiszenburg/zugbruecke/tree/pointer_restype).

[2018-03-14 11:19] s-m-e commented on #14
Commit  14bc5b3 breaks some tests, because the original `ctypes` strips away `ctypes` datatypes for fundamental (non-pointer, non-struct) return data types and returns plain Python data types instead. After the commit, along the lines of the example below, `zugbruecke` would return a `ctypes.c_double` object instead of a Python float, which breaks test assertions.

[code]

Solution: Strip away non

[2018-03-14 11:41] s-m-e commented on #14
Implemented fix in 08bb0d6

[2018-03-14 13:39] s-m-e commented on #21
This is how `ctypes` expects the definition of a single argument:
[code]

This is how it throws an error if the `argtypes` are not initialized with a tuple or list:
[code]

`zugbruecke` currently crashes when parsing `demo.argtypes = ctypes.c_double`, which is sort of right - it should actually throw a `TypeError` instead (#8).

[2018-03-15 14:14] yssource commented on #23
Personally I think it is not possible to run `WINFUNCTYPE` on client-end, since it is only able to run `WINFUNCTYPE` under win32. Isn't it?
And, do you think that my snipped should be run under wine?

[2018-03-15 20:44] s-m-e commented on #23
@yssource I have written a small (not functional) code skeleton which I am going upload with a few comments.

Concept: Have a look at how I implemented the `WinDLL` method (in `_wrapper_.py`). In `ctypes`, `WinDLL` is only available on Windows. In `zugbruecke`, I have implemented my own version of `WinDLL` on the Unix Python side, which accesses an instance ("session") of the `session_client_class

[2018-03-15 21:28] s-m-e commented on #21
Fixed in 679b383.

[2018-03-17 15:18] s-m-e commented on #3
Added (limited) support in branch [callback_experimental](/pleiszenburg/zugbruecke/tree/callback_experimental).

[2018-03-17 15:18] s-m-e commented on #4
Added (limited) support in branch [callback_experimental](/pleiszenburg/zugbruecke/tree/callback_experimental).

[2018-03-17 15:37] s-m-e commented on #23
@yssource I turned my non-working code skeleton into a **highly experimental working patch**. It was easier than I expected, so I just finished it. There is now (limited) support for function pointers, both types (`CFUNCTYPE` and `WINFUNCTYPE`). I merged the patch into the [development branch](/pleiszenburg/zugbruecke/tree/develop). [This example](https://github.com/pleiszenburg/zugbruecke/blob/de

[2018-03-18 03:31] yssource commented on #23
Your callback example works well for me.

But if the callback call another subroutine, it will be stuck at `UNIX o: [dll-client] ... unknown, registering`.

For example, `check` call another `IsWindowVisible` in my codes.

I think the problem is it was supposed that `IsWindowVisible` should has a different `hash_id_register_routine` for itself, but actually the `[[https://github.com/pleiszenburg/z

[2018-03-18 06:42] yssource opened #24 "test with windows api"
* window.py
[code]

* how to reproduce
  1. linux-side bash running `winecfg`
  2. wine-side running `python window.py` under `wineconsole`
      OK. get the expected result
  3. linux-side running `python window.py`
      None, no result
* Result
  winecfg
![screenshot from 2018-03-18 14-42-58](https://user-images.githubusercontent.com/3756334/37563399-b7741784-2aba-11e8-9f60-fc506b2a20d2.png)

[2018-03-18 09:04] s-m-e commented on #23
@yssource `[hash_id]_register_routine` exists only one single time per DLL. One DLL is represented by one instance of the `dll_client_class` on the Unix side and by one instance of the `dll_server_class` on the Wine side. I am simply linking those two instances together. I.e. the `hash_id` uniquely represents one single DLL. `IsWindowVisible` is a routine and has (almost) nothing to do with the `h

[2018-03-18 09:22] s-m-e commented on #24
@yssource I guess I understand your issue. `Wine` has a server component and a profile folder. When you run `winecfg` in bash, it will use the default profile folder (`~/.wine/`) and start a server there. `zugbruecke` on the other hand isolates itself from the default Wine folder and uses its own folder (`~/.zugbruecke/win32-wine/`) and its own server. In your example, you are running two Wine ser

[2018-03-18 10:01] yssource commented on #24
:100: :+1: :1st_place_medal: It's amazing. It's so GREAT of your help.

Thank you so so so much...

[2018-03-18 10:01] #24 closed

[2018-03-18 21:17] s-m-e commented on #21
Fix released as part of v0.0.8.

[2018-03-18 21:17] #21 closed

[2018-03-18 21:17] s-m-e commented on #14
Feature released as part of v0.0.8.

[2018-03-18 21:17] #14 closed

[2018-03-18 21:31] s-m-e opened #25 "Lack of symetry in memory synchronization breaks a number of use cases for callback functions (function pointers)"
Basic support for callback functions (function pointers) was introduced as part of v0.0.8, see issues #3 and #4. The current implementation of the memory synchronization mechanism has significant flaws, see issue #23 for example. Analysis and likely a re-implementation of the memory synchronization layer is required.

[2018-03-18 21:31] s-m-e commented on #4
Limited support released as part of v0.0.8. Limitations apply because of fundamentally broken memory synchronization, see #25. Further changes are tracked in the latter issue.

[2018-03-18 21:31] #4 closed

[2018-03-18 21:32] s-m-e commented on #3
Limited support released as part of v0.0.8. Limitations apply because of fundamentally broken memory synchronization, see #25. Further changes are tracked in the latter issue.

[2018-03-18 21:32] #3 closed

[2018-03-19 07:48] s-m-e opened #27 "Arch "win64" broken because of wrong download URL for embedded CPython for win64/amd64"
Fixed in #26, thanks @yssource.

[2018-03-19 15:13] s-m-e opened #28 "Function pointers in struct types are not handled"

[2018-03-19 15:28] s-m-e commented on #28
Fixed in  89112f4.

[2018-03-20 14:17] jtlz2 opened #29 "memsync - TypeError"
I am just learning how to use `memsync` (on your advice, for which thanks :) ) - for a pointer to an array nested within a structure defined by me. Following the documentation, for a structure that's the third argument (i.e. index 2), I've tried:

[code]

This gives:

  File "/usr/local/Cellar/python3/3.6.4_2/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/zugbruecke-0.0.8-py3

[2018-03-20 15:11] s-m-e commented on #29
No, you're not doing something stupid. This appears to be a legitimate bug. I'll look into it.

[2018-03-20 17:26] s-m-e commented on #29
Fixed in 19445c5 (development branch).

@jtlz2 You can install / try it like this: `pip install git+https://github.com/pleiszenburg/zugbruecke.git@develop`

[2018-03-21 11:28] s-m-e opened #30 "Missing DLLs of type windll and oledll do not raise OSError as expected"
See issue #8.

[2018-03-21 12:15] s-m-e opened #31 "Missing routines in DLLs do not raise AttributeError as expected"
See #8.

[2018-03-21 14:17] s-m-e opened #32 "Wrong or unconfigured argtypes as well as wrong number of arguments do not raise appropriate ValueError, ArgumentError or TypeError"
See issue #8.

[2018-03-21 14:45] s-m-e commented on #27
Fix released as part of v0.0.9.

[2018-03-21 14:45] #27 closed

[2018-03-21 14:45] s-m-e commented on #28
Fix released as part of v0.0.9.

[2018-03-21 14:45] #28 closed

[2018-03-21 14:46] s-m-e commented on #30
Fix released as part of v0.0.9.

[2018-03-21 14:46] #30 closed

[2018-03-21 14:46] s-m-e commented on #31
Fix released as part of v0.0.9.

[2018-03-21 14:46] #31 closed

[2018-03-21 14:47] s-m-e commented on #32
Fix released as part of v0.0.9.

There are probably cases left where plain wrong (misleading) errors are raised by the argument parser. Please open a new issue, if you encounter one of them.

[2018-03-21 14:47] #32 closed

[2018-03-22 05:27] jtlz2 opened #33 "memsync - support for calculation of 'l' size parameter?"
I have a `memsync` as follows:

[code]

However, argument 0 has no `size` parameter. I cannot add one because the C prototype is not defined by me. It is possible to derive a `size` from two other parameters in the `struct`s for argument 0.

Does `memsync` support calculation of 'l' in python? If not, is there any chance you could add such functionality?

Thanks as ever!

[2018-03-22 06:34] jtlz2 opened #34 "rpc.py raises a RuntimeError: No active exception to reraise"
@s-m-e Not sure how to handle this! Thanks for all help:

[code]

[2018-03-22 07:38] s-m-e commented on #33
I can certainly add such a functionality. A typical use case is images with a width and height specified separately. The [function for packing the memory](https://github.com/pleiszenburg/zugbruecke/blob/8652a873027348c1cb25f92bc1ca97fd09a9be6d/src/zugbruecke/core/data/memory.py#L62) before it is shipped to the other side was next on my list for a rewrite anyway - it's fundamentally flawed.

[2018-03-22 07:43] jtlz2 commented on #33
@s-m-e That would be great - thanks so much!

[2018-03-22 07:52] s-m-e commented on #34
@jtlz2 You ran into one of the many cases where `zugbruecke` just does not produce meaningful errors. Your error was caused somewhere on the Wine side (before a function call, either in the routine for unpacking the shipped arguments or in the routine for unpacking the shipped memory) and sent back through RPC to the Unix side. So the likely root cause is that you made a mistake in the `argtypes`

[2018-03-22 08:00] jtlz2 commented on #34
(1521705503.99/314d9926) WINE o: [routine-server] Trying call routine "func" ...
(1521705503.99/314d9926) WINE o: [routine-server] Unknown error!
(1521705503.99/314d9926) WINE e: Traceback (most recent call last):
(1521705503.99/314d9926) WINE e:   File "Z:\usr\local\lib\python3.6\site-packages\zugbruecke\core\routine_server.py", line 76, in __call__
(1521705503.99/314d9926) WINE e:     args_list

[2018-03-22 08:06] s-m-e commented on #34
@jtlz2 It appears to me that you're running an "older" release. My apologies - can you please update `zugbruecke` to the least release (you'd probably have to uninstall with `pip3 uninstall zugbruecke` and re-install it with `pip3 install zugbruecke` to be on the safe side) and repeat the above exercise?

[2018-03-22 08:15] jtlz2 commented on #34
@s-m-e No no my fault - I think it was due to branch-hopping. Same result?

[code]

[2018-03-22 08:27] s-m-e commented on #34
@jtlz2 Same result - this time with the right line numbers. There were too many places where this could come from.

I **guess** I know what you're doing. The code at fault is unpacking arrays. It detects whether you are unpacking a fixed-length array of data of either one of the fundamental data types (integers, floats, ...) or a struct type. Anything else is not handled here (it's supposed to be

[2018-03-22 10:18] jtlz2 commented on #34
@s-m-e Sorry about that....

[code]

I am assuming the `struct` definitions that the callback, which is not used, can be assigned 'ctypes.c_void_p'...

[2018-03-22 10:27] jtlz2 commented on #34
@s-m-e What happens if (as now) I don't tell memsync about all of the pointers? :\

[2018-03-22 11:53] jtlz2 opened #35 "Question: What is the size in bytes of a null pointer?"
In `rpc.py`, what should ` size_bytes` be when the variable is a void pointer, i.e.

C Prototype:

[code]

ctypes/ZB Struct:

[code]

[code]

At the moment that throws:

[code]

Thanks!

[2018-03-22 21:12] s-m-e commented on #33
@jtlz2 I pushed a new (experimental) branch named `memsync_lambda`. Have a look at [this test code](https://github.com/pleiszenburg/zugbruecke/blob/1fdb878ce667f2d6753e516b0cb739d35a3061c7/tests/test_bubblesort_segments.py#L56). It's pretty much self-explanatory I hope.

[2018-03-23 06:12] jtlz2 commented on #33
@s-m-e Brilliant - thank you! Is `_f` an optional parameter, or must I include it in every `memsync` dictionary? Does the new syntax for `_l` replace the old syntax for every variable there?

[2018-03-23 06:29] jtlz2 commented on #33
In the example,
[code]

I am not sure I have the path for `'l'` right - if `x` and `y` are in positions 1 and 2 in the list of `_fields_` for the Struct, should 'l' = ([1], [2])? Is the `lambda` then just as is?

The lambda is really nice by the way because it can be set to `lambda x: x`, `lambda x:const` etc.

[2018-03-23 06:46] jtlz2 commented on #33
Apologies - am confused:

Should I have:

[code]

I don't have the syntax quite right yet....

[2018-03-23 07:58] s-m-e commented on #33
@jtlz2 Sry, I did not bother to write documentation for it yesterday - lack of time. First, I usually try to not break backwards compatibility. `_f` is optional. Old `memsync` statements without it are not affected. If (and only if) you specify `_f` (and fill it with a function), the `l` (length path) parameter has to become a tuple of path lists (instead of one single path list). The parser then

[2018-03-23 09:11] s-m-e commented on #34
[code]
@jtlz2 There is your issue: ``ctypes.c_ubyte*500``. Instead, you want something like ``ctypes.POINTER(ctypes.c_ubyte)`` (without the times 500). The same applies to ``data_out`` in your other struct definition. It's multiple mistakes you've made here. Both data fields are not **fixed length** arrays. They are pointers to "variable length" memory sections. So you basically define them as a p

[2018-03-23 09:15] s-m-e commented on #35
@jtlz2 Can you provide any context about what ``F`` is? Is it a function, data, something you actually do not need?

[2018-03-23 10:02] jtlz2 commented on #35
@s-m-e Yep it's a function, but see below. The C prototype is:

[code]

In the C wrapper, `F` can legitimately be set to `NULL` though, which is why I thought a null pointer would be fine rather than a full-on callback:

[code]

[2018-03-23 10:10] jtlz2 commented on #33
@s-m-e Thanks for the info - I think I have it right now (for argument `1`):

[code]

`[1,1]` and `[1,2]` refer respectively to the width and height parameters.

[2018-03-23 10:19] s-m-e commented on #33
@jtlz2 I am not sure this will work (at least it might not cause an error which it should): You have a struct with a field named ``data``. It's the 2nd argument of your function (i.e. the leading ``1`` in the paths). The same struct also contains fields representing information about the length of ``data``. Structs do not have indices, only named fields - to the tailing ``1`` and ``2`` are wrong f

[2018-03-23 10:52] s-m-e commented on #35
@jtlz2 Ok, I tried this. I was not entire sure that my code would handle it correctly - apparently, it does, so I just added another test to make sure it keeps handling it correctly :) Have a look at [this test file](https://github.com/pleiszenburg/zugbruecke/blob/36aff03503518f82052fc9e8f5bd087fbd075d1a/tests/test_callback_optional.py#L47). It's calling into [these two identical test functions](h

[2018-03-23 16:22] s-m-e opened #36 "memsync definition looses information during first call of function, second call fails (sometimes)"

[2018-03-23 16:31] s-m-e opened #37 "If a DLL allocates memory to a pointer, its content is not being syncronized back to the Unix side ..."
... and instead causes segmentation faults. Besides, `memsync` does not allow to specify that memory is not allocated in advance but by the DLL itself.

[2018-03-23 18:15] s-m-e commented on #36
Fix released in v0.0.10.

[2018-03-23 18:15] #36 closed

[2018-03-23 18:15] s-m-e commented on #7
Feature released in v0.0.10.

[2018-03-23 18:15] #7 closed

[2018-03-23 18:16] s-m-e commented on #33
Feature released in v0.0.10.

[2018-03-25 07:40] jtlz2 commented on #37
@s-m-e Is this an easy one to implement / on the roadmap in the near term? :/

[2018-03-25 11:40] s-m-e commented on #37
@jtlz2 If time permits, it's next on my list. I am thinking about how to solve it without digging my hole with respect to #25 even deeper. Ideally, I have to tackle them both at once. An ugly fix for this particular issue is relatively easy (if this is a major showstopper for you), a sustainable solution is not.

[2018-03-25 17:44] jtlz2 commented on #35
@s-m-e Thank you so so much for looking into this! Since I am not completely sure how to handle the translation from `int(*G)(void*, int*)`, what I have done is almost certainly wrong:

[code]

Then I just set

[code]

Where is my opportunity to set the argument of the callback to `ctypes.c_void_p`?

Am I remotely on the right lines or not really? :\

[2018-03-25 17:55] jtlz2 commented on #35
@s-m-e I also have another void pointer, the C prototype being:

[code]

And so in python:

[code]
When I call `status=func(a,b,c)`, do I need to include `W` in `func.memsync`, and if so what would I give for its `'l'` size?

[code]

[2018-03-26 07:08] s-m-e commented on #35
@jtlz2 Your function prototype `int(*G)(void*, int*)` translates as follows, see [`ctypes` manual](https://docs.python.org/3/library/ctypes.html#ctypes.WINFUNCTYPE):
[code]
Your Python function `G` must accept two parameters and return an integer.
[code]
`g` already is a pointer type, so your structure would look somewhat like this:
[code]
The problem with the above is that `param_a` likely requir

[2018-03-26 07:28] jtlz2 commented on #25
@s-m-e I am not sure where this fits in, but: If I have a function that returns a pointer to a structure that contains pointers, will ZB handle that as is or is there some need for a memsync on the restype side?

[2018-03-26 09:17] jtlz2 commented on #34
@s-m-e Thanks for the clarification here and apologies that you have had to give me a ctypes lesson at the same time... Am much clearer on this now. This particular question can probably be put to bed.

[2018-03-26 09:17] #34 closed

[2018-03-26 10:08] jtlz2 commented on #35
@s-m-e Many thanks! I think this closes the original question off - makes sense. I will tackle `G` when it comes to your fix for #25 :)

[2018-03-26 10:08] #35 closed

[2018-03-26 10:31] jtlz2 commented on #37
@s-m-e Apologies for issue-hopping - I think this is indeed required (reading my comment on #25 do you agree?), so an ugly fix would be amazing :)

[2018-03-26 12:05] jtlz2 opened #38 "ZB misses ctypes exception: File "_ctypes/callbacks.c", line 234, in 'calling callback function'"
I've managed to get `ctypes` to throw an exception, but it's not trapped by ZB (should it be?):

(1522065500.92/c17f30d6) WINE o: {'d': 0, 'f': [], 'g': 2, 'n': None, 'p': False, 's': True, 't': 'c_byte'}
(1522065500.92/c17f30d6) UNIX o: [routine-client] ... configured. Proceeding ...
(1522065500.92/c17f30d6) UNIX o: [routine-client] ... parameters are "(<__main__.A object at 0x10443cb70>, <__main

[2018-03-26 15:17] #33 closed

[2018-03-26 20:05] s-m-e commented on #37
@jtlz2 Ugly and truly horrible in every sense of the word ... check out branch `memsync_cache`. [This test](https://github.com/pleiszenburg/zugbruecke/blob/0922b616664fda70deb9e1fd61486c4d9d02c397/tests/test_square_int_array.py#L47) passes while [this test](https://github.com/pleiszenburg/zugbruecke/blob/0922b616664fda70deb9e1fd61486c4d9d02c397/tests/test_tag_string.py#L47) is not even close to pa

[2018-03-26 20:13] s-m-e commented on #38
I lazily leave most of the exception trapping on the Unix side to the Python interpreter, but you're right, I should catch them in a more consistent manner.

[2018-03-27 06:31] jtlz2 commented on #37
@s-m-e No problem. Thanks for that! So it's possible for me to do [1,'DATA',-1], for example?

I am running into lots of segfaults at the moment; are there any tools that might help me debug what's causing them each time? Otherwise it's a bit hit-and-miss to diagnose. Is there a way to inspect the memory for example?

[2018-03-27 08:49] s-m-e commented on #37
@jtlz2 `[1,'DATA',-1]` looks about right.

I usually go step by step: First, I implement a test case for one small aspect (at a time) of the desired call. By test case, I mean two things: A function written in C in my demo DLL doing something (very trivial) with the passed data and a Python test file calling into the DLL & checking the result. Then I run my Python test with `wine-python` first, wh

[2018-03-27 09:19] s-m-e commented on #25
@jtlz2 Hmm `func.restype=ctypes.POINTER(mytype)` should work just fine, so yes, you should be able to return a pointer to a structure (allocated by the DLL) with the current code base. The `data` field in your struct on the other hand falls under the "lack of symmetry" category because it would very likely require the be synchronized manually, i.e. with memsync. Currently, memsync can not be appli

[2018-04-01 18:46] s-m-e commented on #37
@jtlz2 I added a test for it - it was broken ... now it's fixed.

I am gradually working my way through extending and re-designing `memsync`'s mechanics (in branch `memsync_cache`). [The test](https://github.com/pleiszenburg/zugbruecke/blob/768aab86427a76806cfb95ce63f0f38107bf3a1f/tests/test_square_int_array_with_struct.py#L47) demonstrates memory allocation by a DLL to a pointer within a struct.

[2018-04-02 07:50] s-m-e opened #39 "Support for Unions is missing"
See [ctypes documentation](https://docs.python.org/3/library/ctypes.html#ctypes.Union).

[2018-04-02 07:51] s-m-e opened #40 "Memsync can not target return values or elements of it"

[2018-04-02 07:52] s-m-e opened #41 "Memsync can not be applied to callback functions"

[2018-04-04 16:09] s-m-e commented on #41
[For details see documentation, development version.](http://zugbruecke.readthedocs.io/en/develop/memsync.html#applying-memory-synchronization-to-callback-functions-function-pointers)

[2018-04-10 09:16] #40 closed

[2018-04-10 15:20] s-m-e commented on #41
Released as part of 0.0.11

[2018-04-10 15:20] #41 closed

[2018-07-31 17:04] chiuczek opened #42 "memsync with pointers to pointers"
I'm trying to wrap a windows dll file designed to be used with R, where any strings are being passed to the dll as `char**`, i.e. a pointer to a pointer to `char`s. I can make things work ok on windows/wine-python, but can't get memsync to synchronise the right memory when I use zugbruecke.

Minimal example:

C code:
[code]

Python:
[code]
Is this something that is currently possible?

[2018-08-01 05:09] s-m-e commented on #42
Looking at your example, it appears that you're passing a pointer to an array of pointers to [*null-terminated*](https://en.wikipedia.org/wiki/Null-terminated_string) strings, right? Or is there length information somewhere given as an integer for every individual string in the array?

The short answer is that I have not implemented it yet. However, it should be reasonably easy to add. I'll what I

[2018-08-01 09:10] chiuczek commented on #42
Yes, eventually there's a null-terminated string, but there's only one of them. It's a strange interface, but I think it's because the library is designed to interface with R [using R's C interface functions](https://cran.rstudio.com/doc/manuals/r-devel/R-exts.html#Interface-functions-_002eC-and-_002eFortran) which specify that strings get passed as `char **`. The `unrelated` integer is entirely u

[2018-08-01 10:44] s-m-e commented on #42
Ok, this makes (some) sense. I'll look into it and try to come up with a working example (calling into the project's demo DLL file based on your use case).

[2018-08-05 09:36] s-m-e commented on #42
I started a [new branch](https://github.com/pleiszenburg/zugbruecke/tree/R_STRSXP) and added a test case based on your example. As expected, it passes with `wine-python` & `ctypes` and fails with `zugbruecke`.

Additional documentation:
* [R Internals, 1.1.3 The ‘data’](https://cran.r-project.org/doc/manuals/r-release/R-ints.html#The-_0027data_0027)
* [Writing R Extensions, 5.9.7 Handling characte

[2018-11-26 14:59] s-m-e opened #43 "Support for numpy.ctypeslib.ndpointer is missing"
For detailed documentation on `numpy.ctypeslib.ndpointer`, see [numpy reference](https://docs.scipy.org/doc/numpy-1.15.0/reference/routines.ctypeslib.html#numpy.ctypeslib.ndpointer).

Strictly speaking, this is not a `ctypes` feature but a `numpy` feature. However, `ctypes` apparently handles this pointer type transparently while `zugbruecke` does not (yet) so support should be added.

[2018-12-05 15:59] stuaxo opened #44 "Mechanism to chose wine prefix ?"
It would be handy to have a way to chose the wine prefix used.

This would be handy when I want to use a wine environment that already has some programs installed.

(In my instance I was trying with Winamp / WACUP)

[2018-12-06 11:04] s-m-e commented on #44
@stuaxo Good idea - I will add an option that allows a user to point to an existing wine prefix.

[2018-12-06 19:36] stuaxo commented on #44
Great :)

It would be great to document the API the sets up zugbruecke with a wine prefix too.

Is there an easy way to check if a prefix is already setup with zugbruecke?

[2018-12-07 09:48] s-m-e commented on #44
Currently, *zugbruecke* creates its own wine-prefix underneath its configuration folder, see [here](https://github.com/pleiszenburg/zugbruecke/blob/2a690a69522e6c3419413997590c05dac9589400/src/zugbruecke/core/wineenv.py#L140) and [here](https://github.com/pleiszenburg/zugbruecke/blob/2a690a69522e6c3419413997590c05dac9589400/src/zugbruecke/core/config.py#L95). The pattern is `{path_to_home}/.zugbru

[2018-12-07 10:16] s-m-e commented on #44
Ok, I need some more time for this - it's not a 10 minute fix as I thought, unfortunately. I have hard-coded the pattern `{path_to_home}/.zugbruecke/{arch}-wine` in a few placed, i.e. I need to refactor some code before I can clean this up ...

[2018-12-11 13:23] s-m-e commented on #13
Upstream bug marked as closed & fixed for Wine 4.0-rc1. Test with *zugbruecke* required.

[2019-02-22 09:32] s-m-e commented on #44
@stuaxo I have pushed a new branch, [refactor_moduledesign](https://github.com/pleiszenburg/zugbruecke/tree/refactor_moduledesign). It is still under development and not finalized yet. **Among quite a lot of changes, I also added a new configuration parameter: ``wineprefix``.** In ``.zugbruecke.json``, you can set it to a path of your choice. Please test.

Be aware that there are significant chang

[2019-02-22 15:15] stuaxo commented on #44
Cheers, I'll give this a go.

[2019-03-03 23:06] stuaxo commented on #44
I tried this, with the following `.zugbruecke.json`

[code]

This didn't work as it wants an absolute path.    Would it be possible to support setting name like this, but the wineprefix still ending up in the default directory for zugbruecke wineprefixes ?

[2019-03-04 08:45] s-m-e commented on #44
@stuaxo Thanks for testing. Yes, it's possible, but I am wondering about the semantics. `wineprefix` does not need to be absolute. Currently, it can also be relative to the current working directory. The question then becomes how you want to indicate that you want the path to be relative to something else other than the cwd. I could add another configuration option ... I am open to ideas and sugge

[2019-03-04 11:48] stuaxo commented on #44
Maybe support use expanduser so ~ can be used?

I can see why you may not want general env var support without a bit more thought.

[2019-03-05 17:50] stuaxo commented on #44
Maybe where the prefix is saved and what it's called are two settings (with sane defaults)?

[2019-05-21 17:54] s-m-e opened #45 "Build of master fails on Travis with recent versions of pip"

[2019-05-21 18:33] s-m-e commented on #45
Solved and released in v0.0.14.

[2019-05-21 18:33] #45 closed

[2019-08-03 13:21] vishalapte opened #46 "Pickling error on calling dll method"
[code]

My code is as follows:

[code]

[2019-08-03 14:20] s-m-e commented on #46
This should actually work as far as I can tell from your code. Which version of zugbruecke are you using?

[2019-08-03 14:32] vishalapte commented on #46
[code]

`zugbruecke==0.0.14`

[2019-08-03 14:43] s-m-e commented on #46
Ok, thanks. Can you post the signature / header of `RBCombinedValueWrapper` (the DLL function) and possibly the source code of `RBCombinedValueWrapper.weekend_scalar.getarray` (from your Python class)?

[2019-08-03 14:49] vishalapte commented on #46
[code]

I do not have access to the actual code and am trying to get the header for the DLL function. What I have is...

[code]

returns `double[,] resultPub = new double[54, 1];`

[2019-08-03 15:20] s-m-e commented on #46
`public static double[,]` looks suspiciously like Java, though I have not seen the `[,]` notation before. I assume it's the equivalent of `[][]` (?). Are you actually dealing with a DLL written in C or a similar language or are you trying to call Java code?

Besides, I can see a few conceptual mistakes in your code. E.g. you are configuring the function with `POINTER(POINTER(c_double))` at some po

[2019-08-03 15:21] vishalapte commented on #46
I will attempt to secure more documentation. I appreciate your patience.

[2019-08-03 15:27] s-m-e commented on #46
No problem. I should add that the `Pickling error` that you initially posted is actually triggered by wrongly configuring and calling the function. Your function is configured to use a pointer type, i.e. `POINTER( ...)`. It actually expects a real pointer then which you get by running `pointer( .. )` on your data (yes, upper case for the type and lower case for the data).

[2019-08-03 16:28] vishalapte commented on #46
1. I have specified the dimensions of each array in `argtypes`. Example: `POINTER(c_double * 16 * 8)` instead of `POINTER(POINTER(c_double))`.
2. Can I use a flattened 1D array (like the current output of `getarray()` with `pointer()` to satisfy `POINTER(c_double * 16 * 12)`

Will I still need to use `memsync` if all argtypes are of deterministic/fixed lengths?

The above changes fixed the Picklin

[2019-08-04 08:01] s-m-e commented on #46
If you're using fixed length arrays (1D or multidimensional), you do not need to use `memsync`. See [this test](https://github.com/pleiszenburg/zugbruecke/blob/v0.0.14/tests/test_gauss_elimination.py) for example. So far, from a superficial look, your code is ok. However, this only makes sense if your corresponding DLL function also [expects fixed length arrays](https://github.com/pleiszenburg/zug

[2019-09-13 00:58] Stuermer opened #47 "Trigger memory sync between server and client"
Hi,
first of all. This project is amazing!
My use-case is calling win dlls for hardware where there is no linux library available (unfortunatly very common). In this case an ethernet camera.

Now my problem:
I'm calling a DLL function that has a pointer argument and reads data from the camera.
However, the function is non-blocking and doesn't change the data on return.
I'm supposed to call a secon

[2019-09-13 07:23] s-m-e commented on #47
You're absolutely welcome.

Long story short: What you're trying to do is currently not possible with `zugbruecke`, I am afraid.

In detail: `zugbruecke` is state-less, i.e. does not maintain a state between function calls. Once the call into `__read_ccd__` is done, `zugbruecke` does not keep track of the pointer to `_A` anymore. This problem falls within a larger category of other problems that I

[2019-09-16 10:34] s-m-e opened #48 "`zugbruecke` depends on bash"
... for which there is no good reason. [`wine-python`](https://github.com/pleiszenburg/zugbruecke/blob/v0.0.14/scripts/wine-python) and similar scripts [can be implemented in pure Python](https://docs.python.org/3/library/os.html#os.execvpe).

[2019-09-16 16:33] s-m-e opened #49 "Suffering from bug in Wine path processing: "PathAllocCanonicalize treats path segments start with dots wrong""
... added workaround.

See [original bug](https://bugs.winehq.org/show_bug.cgi?id=47766).

[2019-09-16 16:35] s-m-e commented on #13
CPython 3.6 and 3.7 work with Wine 4.14 (probably also with earlier 4.x-releases). Updated default Python for Wine to 3.7 for upcoming zugbruecke 0.1.0 release.

[2019-09-16 16:53] s-m-e commented on #11
[Python 2.7 will retire in ...](https://pythonclock.org/)

(If someone wants to make this work with PyPy, Jython or IronPython and requires Python 2 syntax compatibility, I am happy to accept patches.)

[2019-09-16 16:53] #11 closed

[2019-09-19 16:43] s-m-e opened #50 "Symlinks to zugbruecke module in Wine Python environment's site-packages folder break Wine Python on "older" Linux: "OSError: [WinError 6] Invalid handle""
Technically, this is a bug caused by some interaction problem between older Linux distributions such as *Ubuntu 14.04* alias *Trusty Tahr* and recent versions of Wine such as 4.14.

You may observe this issue when running `wenv python`. Most commonly, it will present itselve as `OSError: [WinError 6] Invalid handle: 'z:\\...` triggered by calling `os.listdir` in `pip` or `importlib` on folders rel

[2019-09-19 16:44] s-m-e commented on #50
- Not affected: `zugbruecke` 0.0.1 to 0.0.14.
- Issue present in development version of 0.1.0

[2019-09-19 18:35] s-m-e opened #51 ""wenv init" and "wine-python" sometimes fail due to SSL certificate validation issues"
This may happen on systems with older versions of `libssl` (`libopenssl`) or configuration issues regarding the SSL certificate store. This bug is present in all versions of `zugbruecke` up to 0.0.14. A workaround is included in 0.1.0. See installation instructions in documentation. For older versions of `zugbruecke` <= 0.0.14, you will have to update ``libssl`` and/or fix your SSL certificate sto

[2019-09-21 08:21] s-m-e opened #52 "zugbruecke.util in its current form is almost useless"
(a) It will check whether the user is looking for a DLL file. If not, it will search on the Unix host system. For queries like `ctypes.util.find_library('c')` or `ctypes.util.find_library('m')`, this is absolutely undesired.

(b) The current implementation calls `wine-python -c ...` / `wenv python -c ...` through `subprocess.Popen`, which is in its current form inefficient, slow and error-prone.

[2019-09-21 16:27] s-m-e opened #53 "CDLL falls back to searching a Unix shared object if no DLL file can be loaded"
In part similar to #52. Originally, this was intended as a feature, but it breaks the session model and conflicts with the solution to 52.

`zugbruecke`'s implementation of `CDLL` should only handle DLL files.

[2019-09-22 07:21] s-m-e opened #54 ""handle" parameter in CDLL, WinDLL and OleDLL is not implemented"
As a result of #52 and #53, the original rudimentary (and untested) implementation of the `handle` parameter in `CDLL` has been removed in v0.1.0.

[2019-09-22 07:46] s-m-e opened #55 ""wenv init" requires internet connection"
An "offline option" can be extremely useful in certain environments.

Currently, `wenv init` will download a ZIP-file containing an embeddable version of the CPython interpreter for Windows as well as `get-pip.py`. The user could download those files instead and provide them to `wenv init` through local paths.

Next, `wenv init` calls `wenv pip` to install further packages. `wenv pip` could, just

[2019-09-22 11:42] s-m-e opened #56 "Python 3.8 support (Unix)"
Missing.

[2019-09-24 07:21] s-m-e opened #57 "CPython >= 3.8 new behavior: Too many and too few arguments are simply ignored, no more ValueError"
[python#38258](https://bugs.python.org/issue38258)

The following test in `tests/test_error_callargs.py` ...

[code]

... does not raise a `ValueError` for CPython >= 3.8 and therefore fails.

A possible fix should take the version of Unix Python into account. E.g. if Unix Python == 3.7 and Wine Python == 3.8, the ValueError should still be raised.

[2019-09-24 07:35] s-m-e opened #58 "Tests limited to x86 / 32 bit versions of Wine and Python for Windows"
The test infrastructure needs to be expanded to test both at the same time, x86 / 32 bit AND x86_64 / AMD64 / 64 bit versions of Wine and Python for Windows. Also testing x86 Python on x86_64 Wine should be considered.

[2019-09-24 07:42] s-m-e opened #59 "pytest >= 5.1 on Python for Windows <= 3.6 is broken due to Wine bug"
[Wine#47787](https://bugs.winehq.org/show_bug.cgi?id=47787)

`wenv pytest` will fail in those cases. Therefore, this bug is only relevant if you want to develop `zugbruecke`. It does not affect users.

Two possible workarounds:

- Downgrade `pytest` inside your Wine Python environment with `wenv pip install -U pytest==5.0.1` to the latest version, which is known to work.
- Upgrade your Windows ver

[2019-09-24 07:51] s-m-e opened #60 "Only stdcall (windll) is tested, cdecl (cdll) is not (just like oledll)"
`cdll` should work without an issue as virtually all code is identical to `windll`, but tests should confirm it.

[2019-09-24 10:44] s-m-e commented on #57
Related to #8

[2019-09-24 10:47] s-m-e commented on #57
[code]

[code]

Also no error in CPython 3.8 (i.e. the test fails, while is passes on CPython <= 3.7). Checking this manually:

[code]

Re-starting Python (3.8) and (intentionally) misconfiguring the function interestingly also does not change the result:

[code]

[2019-11-30 17:42] s-m-e opened #61 "Different user struct types from different name spaces BUT identical names cause crashs"

[2019-12-01 20:02] s-m-e opened #62 "zugbruecke raises TypeError if too many arguments are given too a configured cdll function, ctypes does not"

[2019-12-04 19:48] s-m-e opened #63 "If a struct type is used in a function call with memsync first (before use in a function call without memsync), configuring (and calling) the function fails"

[2019-12-04 20:21] s-m-e opened #64 "oledll remains untested"
Previously tracked as part of #60.

[2019-12-04 20:27] s-m-e commented on #62
Fixed in refactor_moduledesign.

[2019-12-08 13:44] jayvdb commented on #55
This is probably the cause of my rpm `%check` failures at https://build.opensuse.org/package/show/home:jayvdb:py-bridge/python-zugbruecke

If we can get this solved, I can run zugbruecke tests on the openSUSE test grid, which includes arms, ppc, etc, which addresses some of your other outstanding issues.

[2019-12-08 15:41] s-m-e opened #65 "setup.py leaves choice of encoding to os / python when reading README.rst"
Reported by @jayvdb in #55 although not related.

This [line](https://github.com/pleiszenburg/zugbruecke/blob/82930e9cf98c702e9573637fc5cb4347d1dbbdc8/setup.py#L60) in `setup.py` opens `README.rst` without specifying the encoding. On must Unix systems, it defaults to UTF-8. In your case, for your Leap 15.1 build, it apparently defaults to ASCII. Subsequent reading of the file therefore fail. Havin

[2019-12-08 15:44] s-m-e commented on #55
Thanks for your work and comment. I very much like the idea of running this on OBS. There is some stuff to unpack here. Bottom line - it is NOT related to THIS issue here ;) I am going to break this down into new issues all referencing this one.

[2019-12-08 16:00] s-m-e opened #66 "Packaging on OBS (for Tumbleweed)"
Reported by @jayvdb in #55 although not related.

The Tumbleweed builds fail because ... well, have a look at this project's [travis file](https://github.com/pleiszenburg/zugbruecke/blob/82930e9cf98c702e9573637fc5cb4347d1dbbdc8/.travis.yml#L69), sections `install` and `script` (the actual test). There are two things missing in your spec file.

1) For a test to work, a test DLL file is required. It

[2019-12-08 18:37] jayvdb commented on #66
Just some quick responses.

I've been building up a openSUSE collection of wine-python3 https://build.opensuse.org/project/show/home:jayvdb:wine-python3:py37 , and normal packages https://build.opensuse.org/project/show/home:jayvdb:wine-python3:py37:packages https://build.opensuse.org/project/show/home:jayvdb:wine-python3:py37:packages-p2 , and even a Nuitka package set https://build.opensuse.org/

[2019-12-08 19:01] s-m-e commented on #66
The embedded CPython redists ... yes, they are not ideal. But they work fine on Wine. I can not say this about most contemporary alternatives. This was (and still is) the selling point for me. For a longer version of the story see [here](https://wenv.readthedocs.io/en/develop/introduction.html). I have been working around this problem for about six or seven years now. Bottom line: I need a very ro

[2019-12-09 00:58] jayvdb commented on #66
Yup.  The credit goes to the people involved in https://github.com/msys2/MINGW-packages/tree/master/mingw-w64-python3 , inc the Anaconda team.

None.  I chanced upon your repo, and thought it was interesting, and saw the overlap with what I had been working on.  The goal of my previous work was to build standalone Windows exe's from Python code, and do that build on Linux esp OBS where deps can be

[2019-12-09 20:18] s-m-e commented on #66
@jayvdb Not published on PyPI yet (too many rough edges and an odd setup process), but it now does more or less what it is supposed to do: [wenv-kernel](https://github.com/pleiszenburg/wenv-kernel), a Jupyter kernel for Python on Wine.

[2019-12-10 08:35] s-m-e commented on #55
Now tracked in [wenv#1](https://github.com/pleiszenburg/wenv/issues/1).

[2019-12-10 08:35] #55 closed

[2019-12-10 08:36] s-m-e commented on #51
Fix released as part of new [wenv package](https://github.com/pleiszenburg/wenv). zugbruecke will adopt it in next release.

[2019-12-10 08:38] s-m-e commented on #49
Fix released as part of new [wenv package](https://github.com/pleiszenburg/wenv). zugbruecke will adopt it in next release.

[2019-12-10 08:38] s-m-e commented on #48
Fix released as part of new [wenv package](https://github.com/pleiszenburg/wenv). zugbruecke will adopt it in next release.

[2019-12-10 08:39] s-m-e commented on #44
Feature released as part of new [wenv package](https://github.com/pleiszenburg/wenv). zugbruecke will adopt it in next release.

[2019-12-10 08:40] s-m-e commented on #12
Now tracked in [wenv#2](https://github.com/pleiszenburg/wenv/issues/2)

[2019-12-10 08:40] #12 closed

[2019-12-10 08:42] s-m-e commented on #10
For this feature, PyPy support is also needed in [wenv#3](https://github.com/pleiszenburg/wenv/issues/3).

[2019-12-10 12:07] stuaxo commented on #44
Fantastic, this seems to solves the tricky problems of getting python in wine up and running.

[2019-12-10 12:13] #44 closed

[2019-12-12 00:13] stuaxo commented on #23
OT:  @yssource I had to write something like this to implement a program to [screen capture windows](https://github.com/stuaxo/capture_window/blob/master/capture_window/capture_window.cpp), but in C++ (which I don't really know), it would be interesting if you get this working as I'd really like to implement the same code in python.

Unfortunately, while it worked in Windows, I couldn't get it to

[2019-12-12 00:46] stuaxo commented on #10
Here's a handy script I use to get the nightly versions of pypy:
https://gist.github.com/stuaxo/5d4c0363317a875617271a6d424abbba

It's easy to hit things that aren't quite implemented in pypy, but they are pretty responsive to bugs.

[2019-12-12 15:00] jayvdb commented on #66
Not related - just a note, https://github.com/uranusjr/pythonup-windows and https://github.com/uranusjr/pythonup-posix , and predecessor https://github.com/uranusjr/snafu may be of interest.

[2019-12-15 14:34] yssource commented on #23
@stuaxo
I'm sorry. I didn't take a close look into how the callback is working here.
My Host is Linux, and the guest is wine.
I think it would be better to capture the windows under the Linux side, since there are many ways to do it with xdg tools, such as xwininfo, xdotool, and so on.

[2020-01-02 19:03] s-m-e commented on #23
This issue is now basically equal to #25. It's a symmetry (or lack thereof) issue. I attempted to produce a graphic depiction of this issue:

![issue25](https://user-images.githubusercontent.com/16851110/71685974-26f49c80-2d9a-11ea-8e4d-28aeeb8f6d07.png)

I hope this makes sense. I am working on a re-write of the memory management. It can not be solved with a "fix" - it required rewriting most of

[2020-02-16 13:03] AStupidBear opened #67 "Import *.pyd file"
How can I import a pyd file?

[2020-02-19 12:26] s-m-e commented on #67
A pyd-file is a special kind of a DLL. In theory, it should be possible to "import" it with `zugbruecke` although it might be complicated. I'll try, maybe I can make it work.

[2020-04-18 09:14] stefnet00 opened #68 "Using DISCON.DLL on linux systems"
I'm working on a program to simulate wind turbine dynamics. Therefore I'd like to include blade pitch controllers of various turbines which are mostly shared by .dll files. I was excited when I found zugbruecke but unfortunately I could not get it running yet. Do you have any ideas what's wrong?

[code]

DISCON is written in fortran and begins with the following lines:
[code]
avrSWAP has a fixed l

[2020-04-18 10:13] s-m-e commented on #68
Disclaimer: I have not (yet) tested this against the actual DLL, but thanks for providing a link to it.

Question: Can you point me to some documentation of this function OR any kind of header files / C headers / C++ headers? Or do you have a working piece of code in another programming language that actually successfully calls this function?

From what I can see, there are a few conceptual mistak

[2020-04-18 10:21] stefnet00 commented on #68
I've just updated the question with added definition of the DISCON routine.

[2020-04-18 10:44] s-m-e commented on #68
Thanks for the added information.

From context, I'd guess that `aviFAIL` should be passed as a pointer: `A flag used to indicate the success of this DLL call set as follows: 0 if the DLL call was successful, >0 if the DLL call was successful but cMessage should be issued as a warning messsage, <0 if the DLL call was unsuccessful or for any other reason the simulation is to be stopped at this poin

[2020-04-18 10:51] stefnet00 commented on #68
I could not find any definition document of DISCON yet. As i know `avrSWAP` is fixed length. `85` was just the highest index accessed.

[2020-04-19 18:56] stefnet00 commented on #68
Thanks a lot s-m-e, I could make some progress thanks to your help.

I could find a header file in C which declares the DISCON routine:
[code]

I also found a documentation which states:

- avrSwap: address of an array of single-precission (4-byte) real numbers.
- aviFail: reference to a 4-byte integer
- accInfile: address of the first record of 1-byte characters (length specified in avrSWAP[50])

[2020-04-19 19:24] s-m-e commented on #68
`20 bytes in excess` and the `__cdecl` in your C header are telling you that you tried to use the wrong calling convention. Use `ctypes.cdll.LoadLibrary(DLLPATH)` instead of `ctypes.windll.LoadLibrary(DLLPATH)`.

Besides, this may not account for all 20 bytes (I am not sure). Your OS is Linux or OS X, likely 64 Bit. `zugbruecke` defaults to 32 bit Wine. If your DLL is 32 bit (very likely or you sh

[2020-04-20 07:27] stefnet00 commented on #68
Well, I'm way to little into programming in general to understand these hints of `__cdecl` and `20 bytes in excess.`

Thanks to your great support DISCON is executed without any system error now. It finished with an error but that's due to the input values, not types. I have to fill `avrSWAP` with correct values.

`avrSWAP` has a default length of `164` and is then extended on the base of some its

[2020-04-20 08:30] s-m-e commented on #68
That's more than ok. It took me ages to understand them ;)

There should really be some documentation in `avrSWAP` somewhere. Otherwise, I'd implemented it as fixed-length for the time being but make it "much" longer, i.e. 1000 elements or something similarly "ridiculous". This should help with debugging.

I was wondering about this, too. It all depends on the DLL. Just to be on the safe side, I'd

[2020-04-20 09:01] s-m-e commented on #68
I probably made a mistake in declaring `avcMSG` correctly for your DLL. I edited the script in my last reply accordingly.

[2020-04-24 10:34] stefnet00 commented on #68
The script now does what I expect. I can call the DLL and receive useful outputs. Thats great! Thanks a lot!

There was only one thing with the indices. They start with `1` in the Fortran code and the documentation but with `0` in python. So I added a dummy entry at the beginning of `avrSWAPVal` which is not transferred to `ctypes_float_values` in order to have the same index numbers:

[code]

[2020-04-24 11:57] s-m-e commented on #68
That's great to hear. Good luck with your work :)

[2020-04-24 11:57] #68 closed

[2020-05-04 16:31] stefnet00 opened #70 "Using zugbruecke on headless server"
Dear all,

I'm trying to use a windows .DLL on a headless CentOS 7.8 server but can not get it running.
The simplest test was to call a simple hello world script on windows side using zugbruecke's wine-python script:
[code]
The result is
[code]
Which is unclear to me. Everything on windows side should be 32-bit.

Can zugbruecke execute wine on headless servers? And if not, how to configure wine on

[2020-05-05 06:43] s-m-e commented on #70
This appears to be coming from wine itself. Not sure why though.

Yes, absolutely.

This supports the hypothesis that wine is failing to start (at all).

I have not (yet) looked into how wine is packages on CentOS / RedHat. On openSUSE, there are usually two packages: `wine` and `wine-32bit`. Again on openSUSE, they give you two binaries: `wine` (which is 32 bit) and `wine64` (which is obviously 6

[2020-05-05 07:52] stefnet00 commented on #70
On CentOS its the other way around. `wine` is 64 bit.
[code]
 A 32 bit version is not available. I guess thats the problem.

[2020-05-05 11:30] s-m-e commented on #70
It appears to be a [common problem](https://www.systutorials.com/install-32-bit-wine-1-8-centos-7/) and there also appears to be a [much desired solution](https://forum.winehq.org/viewtopic.php?t=29567) :) Let me know if it works for you. You may have to alter some code in `zugbruecke` to make it work with binaries with other names though, see [here](https://github.com/pleiszenburg/zugbruecke/blob

[2020-05-05 17:24] stefnet00 commented on #70
Great, I changed the names in `wine_cmd` in the `interpreter.py` like you said and switched to wine64. That worked!

I'll see if they install wine32 from a third party repository. If not I'll have to get a 64 bit version of the DLL.

[2020-05-07 19:38] stefnet00 commented on #70
The 32bit version of wine has been installed and replaced /usr/bin/wine. Hence zugbruecke works like expected.
Don't know what happens if wine64 is installed after wine32.

[2020-05-07 19:50] s-m-e commented on #70
I've made a note - I'll test CentOS more carefully and add the findings to the documentation. Thanks for making me aware of it.

[2020-05-08 18:13] hanusek opened #71 "How to get function?"
Hello.
How to bind function?

[code]

[code]

[2020-05-09 09:15] s-m-e commented on #71
First of all, [do not use wildcard imports in Python](https://www.reddit.com/r/learnpython/comments/8zej2c/eli5_what_are_wildcard_imports_and_why_should_i/). There are [legitimate edge cases](https://stackoverflow.com/questions/3615125/should-wildcard-import-be-avoided) where they make sense - but this is not.

Second, there is no need to import anything from `zugbruecke.core`. The core contains i

[2020-05-12 20:13] hanusek commented on #71
[code]
Error:
[code]

[2020-05-13 08:33] hanusek commented on #71
Works. Thanks.

[2020-05-13 08:33] #71 closed

[2020-07-10 14:35] s-m-e opened #72 "Python 3.4 builds are broken (again)"
Support will be dropped in 0.1, but for now, `master` should maintain it.

[2020-07-10 15:05] s-m-e commented on #72
Fixed in v0.0.15.

[2020-07-10 15:05] #72 closed

[2020-11-19 17:08] stefnet00 opened #73 "AuthenticationError on Python3.6.8"
Hi all,

I'am using zugbrucke on different machines to handle Windows DLL files. On CentOS with Python 3.6.8 zugbruecke fails with often repeated error message (over 2000 times):
[code]

On openSUSE Leap 15.2 with Python 3.6.10 there is no error and it runs flawlessly.

There is a difference in the multiprocessing.py in those two Python versions just before the error occurs.

openSUSE Leap 15.2 /

[2020-11-19 17:42] s-m-e commented on #73
Both interesting and very bizarre. Thanks for the report. Yet another CentOS issue.

So bottom line why this happens: `zugbruecke` runs on two Python interpreters. A Linux-version (in your case from CentOS) and a Windows-version (unmodified and straight from [python.org](https://www.python.org)). I *try* to make things a little secure by authenticating the two interpreters against one another. Aft

[2020-11-19 17:58] stefnet00 commented on #73
Thanks for the quick response. I now understand the problem a bit more. So they made CentOS more secure but incompatible with other systems.
The idea of changing it to sha256 in the Windows-Python interpreter sounds good. I'll try this.

[2020-11-20 21:51] s-m-e commented on #70
Re-opening, because this deserves better error-handling on `zugbruecke`'s side.

[2020-12-01 12:44] s-m-e commented on #73
Any luck with patching the Windows-Python interpreter's standard library?

[2020-12-01 13:37] stefnet00 commented on #73
Not yet. I was patching the CentOS library instead... It undermine the higher security but it was easier. Just copied the standard multiprocessing package to my user packages and changed back to md5 (`HMAC_DIGEST_NAME='md5'`). That was successful.

[2021-01-18 19:07] s-m-e opened #74 "Python 3.9 support (Unix)"
Missing.

[2021-01-18 19:07] s-m-e opened #75 "Python 3.10 support (Unix)"
Missing.

[2021-01-19 13:42] s-m-e opened #76 ""memory leak": Sessions collect all logging data in dict for as long as they run"

[2021-03-25 13:41] Artoria2e5 commented on #48
It doesn't depend on bash per se; the range of syntax used is just `/bin/sh`, which should be there on every system that is able to run wine. A change of shebang will do.

But eh, wenv does look better.

[2021-03-25 15:09] s-m-e commented on #48
@Artoria2e5 Glad to hear that :) `wenv` works based on [os.exec*](https://docs.python.org/3/library/os.html#os.execl), without going through any kind of shell.

[2021-09-30 09:13] stefnet00 opened #77 "logging fails when activated by set_parameter()"
I tried to activate the log of zugbruecke within the session via `zugbruecke.current_session.set_parameter(dict(log_write=True, log_level=10))` and got an error.
[code]
Same was the case when creating a new session `zugbruecke.current_session = zugbruecke.session(parameter=dict(log_write=True,log_level=10))`.

Logging was successful when using a json file ~/.zugbruecke/.zugbruecke.json containing

[2021-09-30 12:46] s-m-e commented on #77
Yep, that's indeed a bug that needs fixing. Thanks for the report.

[2021-09-30 12:49] s-m-e commented on #77
It's also present in the `develop` branch, so I can not point you to this one either as a temporary solution.

[2021-09-30 12:57] stefnet00 commented on #77
Well, I use the json file instead. That's ok for now.

[2021-11-01 14:47] stefnet00 opened #78 "How to find reason for session-server time out"
Hello all,
I have a Windows DLL file running on a CentOS host using zurbruecke. Unfortunately I very often get a time out when starting a session. Is there a good way to find the reason for this? The same setup on OpenSUSE Leap is much more stable.

The logging of zugbrucke is already active:
[code]
[code]

A WINE_out.txt is not written when timed out. Only if start up was successful, see below.

[2021-11-01 18:19] s-m-e commented on #78
Hi @stefnet00. To be honest, the original mechanism is extremely fragile and hard to debug (aka crap). I completely redesigned it, but have not yet found time to release it. Can you test the `develop` branch and see if you get better / more stable results? Do not forget to have a look at the [change logs](https://github.com/pleiszenburg/zugbruecke/blob/develop/CHANGES.rst) for v0.1.0 - there are s

[2021-11-02 10:18] s-m-e commented on #78
To answer your actual question, the "old" (current release) implementation does not capture all of the Wine process' `stdout` and `stderr` output. What you are seeing on CentOS is likely some crash on the Wine side. Python on top of Wine or Wine itself for some reason or a segmentation fault due to your DLL or some 32bit vs 64bit problem. The Unix side, i.e. your application on Linux, waits for th

[2021-11-03 14:19] stefnet00 commented on #78
Thanks @s-m-e. I switched to the `develop` branch and made some changes in my script. However, I also had to modify some lines in zugbruecke:

`core/wenv.py`: On both, OpenSUSE and centOS I had to correct the name of the `unix_egg_path` and `wine_egg_path`. On both distributions they are named `zugbruecke-0.1.0.dist-info` instead of `zugbruecke.egg-info`. (Installed them via `pip3 --user git+https

[2021-11-04 13:16] s-m-e commented on #78
Hey thanks for trying. You ran into a fair number of distinct bugs ... Most importantly, the code responsible for catching a failed Wine process does not reliably catch anything, apparently. This needs fixing, but I am lacking sufficient time at the moment. Hence two quick and dirty ideas:

1) You can get some proper output as follows:

- [_read_stream](https://github.com/pleiszenburg/zugbruecke/b

[2021-11-08 12:11] stefnet00 commented on #78
Well, I tried to make the changes you suggested but could not get more outputs from wine. `_read_stream` did not change anything and I could see any call of this method either. (I inserting a simple `print()` at the beginning of it.) Unfortunately `unbuffer` is not available on the cluster nodes. Hence I only set the parameter `bufsize = 0`. But it did not give any further outputs.

Second I was c

[2021-12-01 09:46] stefnet00 commented on #78
@s-m-e: I did some more investigations on the reason of the time out. After many different tests and tries to catch the output of [`subprocess.Popen`](https://github.com/pleiszenburg/zugbruecke/blob/be04b47772192e56ce2494281cebb768444b086f/src/zugbruecke/core/interpreter.py#L214) there was surprising effect.

Because I could catch the output of the original [`subprocess.Popen`](https://github.com/

[2021-12-01 11:40] s-m-e commented on #78
Thanks for the feedback. I might have a thin idea, but I'd really like to reproduce your environment first. How much of its configuration can you share? I remember CentOS - which version? x86_64, I assume? Patch-level? Any customization deviating from CentOS' original packages? Which Wine version/build/repo? Python build/version? Are there containers (Docker and friends) involved? What file system

[2021-12-01 11:47] s-m-e commented on #78
I did a fair bit of cleanup in both `zugbruecke` and `wenv` recently. There were some oddities with respect to handling environment variables that I got rid of. Could you please check what happens if you run on the current `develop` branches (as of now, just pushed changes) of both packages?

[2021-12-01 12:03] s-m-e commented on #78
I [added a few configuration options to wenv](https://wenv.readthedocs.io/en/develop/configuration.html#wine-bin-win32-wine-bin-win64-wine-bin-arm64-str) which should be useful to you. I also [cleaned up configuration in zugbruecke](https://zugbruecke.readthedocs.io/en/develop/configparameters.html#parameters) so there is a somewhat more clean division of labor between both packages.

[2021-12-01 14:25] stefnet00 commented on #78
How can I configure `zugbruecke` within Python? I wanted to change the Python version used by `wenv` and set the environment variable `WENV_PYTHONVERSION="3.6.8"` but I did not work. Changing the parameter like this failed because it can't be changed during runtime:
[code]
What to do before importing `zugbruecke.ctypes`?

[2021-12-01 14:46] s-m-e commented on #78
Just briefly: [Configuration at time of creation](https://zugbruecke.readthedocs.io/en/develop/sessionoverview.html#at-time-of-creation), i.e.

[code]

[2021-12-01 14:57] stefnet00 commented on #78
I have upgraded to the latest `develop` version. Nothing changes regarding the reliability of the job. Using the dummy call still increases the reliability drastically.
But I got additional output when a job fails. It's not send using the default logging of zugbruecke, it's just plain, at the beginning:
[code]

PS: After upgrading I still hat to do the changes mention [here](https://github.com/ple

[2021-12-01 16:04] stefnet00 commented on #78
Or with an additional error output from zugbruecke

[code]

[2021-12-01 16:11] s-m-e commented on #78
Ok, we're getting closer. This is something that I have [only seen on Ubuntu 14.04 / Trusty Tahr](https://wenv.readthedocs.io/en/develop/bugs.html#known-issue-oserror-winerror-6-invalid-handle). It's related to an "outdated" library, if I am not mistaken, and some issues related to symlinks, but I never fully identified the root cause.

[2021-12-01 16:19] s-m-e commented on #78
See #50. For a while, I had a work-around option named `_issues_50_workaround` in `wenv`. I thought I did not need it anymore, so I removed it ... I guess I should add it again. Is this Wine 4 or even earlier?

[2021-12-01 16:21] stefnet00 commented on #78
Yes, it's wine 4.0.4

[2021-12-01 16:27] s-m-e commented on #78
Ok, even closer. Can you try to upgrade to at least Wine 4.16 (or 5 or even 6)? Alternatively (or in addition), can you try to install `zugbruecke` into a path where no single element (folder name etc) starts with a dot (`.`)? In your case, it is sitting underneath `.local`, which is a Unix-hidden folder, i.e. starting with a dot.

[2021-12-01 16:27] s-m-e commented on #78
Sorry, at least Wine 4.17.

[2021-12-01 16:28] stefnet00 commented on #78
Ok, updating `certifi` helped a lot. Initially it was version `2019.11.28`. After updating I have `2021.10.08` and much more jobs are starting (without using the dummy process).

[2021-12-01 16:30] stefnet00 commented on #78
Updating wine is not that easy to me. I would have to ask and it has already been much work to install this version wine.

[2021-12-01 16:35] s-m-e commented on #78
Just looked up your CentOS version (7.9). It's tool-chain dates to 2014, just like in Trusty Tahr, so getting a younger version of Wine wont do the trick (it will even be prohibitively complicated to make it run in the first place). This also explains why `certifi` helps - your systems' SSL certificate stores are outdated, mildly put.

Test the thing with the dots in the path. If this does not wor

[2021-12-01 17:04] stefnet00 commented on #78
Just moving the package directory of `zugbruecke` did not work directly. Seems I need to modify some paths but do not have any more time now. I'll do it later.

Thanks a lot for all the help.

[2021-12-01 19:53] s-m-e commented on #78
I just replicated part of your setup in a VM, CentOS 7.9 x86_64, python 3.6.8, Wine 4.0.4. It's an old system, lots of stuff to work around, and distinct issues in zugbruecke if I see correctly. I will report back to you when I have worked my way through them.

[2021-12-08 13:08] stefnet00 commented on #78
I did some test without any dot in the package path of `zugbruecke` and `wenv` and no dots in the `WENPREFIX`. No major difference regarding the reliability.
However, I found a discrepancy in the python version:

[code]

[2021-12-16 12:53] iwTao opened #79 "OSError : [Errno 8] Bad EXE format for %1"
hello,i have a DLL file needed load by zurbruecke in Ubuntu, but when i loading file use  `zugbruecke.windll.LoadLibrary`, python will report `[Errno 8] Bad EXE format for %1`to me. What should I do for this Error？

[2021-12-18 19:08] s-m-e commented on #79
Can you [configure](https://zugbruecke.readthedocs.io/en/latest/configuration.html) the `log_level` to its maximum of `10` and post the complete output?

[2021-12-19 06:50] iwTao commented on #79
There is the log
[code]

[2021-12-19 10:52] s-m-e commented on #79
Thanks.

It could be a DLL that uses a different "calling convention". Try `cdll` instead of `windll` (although this error should not show at the time of attaching to the DLL but only a little later).

Or, most likely, it could be a 32 bit vs 64 bit issue. `zugbruecke` runs `Wine` in 32 bit mode by default. You can configure `zugbruecke` to run in 64 bit mode, assuming that you are dealing with a

[2022-03-25 15:09] jayhop commented on #79
Hi @s-m-e.
I have a similar issue. Using `cdll` instead of `windll` results in the following error:
[code]
[code]
Your other suggestion leads to the same error
[code]

[code]

## System information
- python 3.10.2
- wine 7.4-1
- wine-mono 7.1.1-1
- OS Manjaro/Linux 21.2.5

[2022-03-25 15:23] s-m-e commented on #79
@jayhop Interesting. Would you be able to share a reproducible example, i.e. code and the DLL, with me - so I can have a closer look at it directly?

[2022-03-28 09:39] jayhop commented on #79
Unfortunately, I can't due to copyright issues. I'll try to create and post another example later this week or next.

[2022-06-28 04:46] susnicek opened #80 "import error in devel version"
Dear developers of zugbruecke,
while the version 0.0.15 of zugbruecke works well for me, the development version 0.1.0 shows the following error with call `importzugbruecke.ctypes as ctypes` :

`>>> import zugbruecke.ctypes as ctypes
/home/xxx/Applications/python_env/lib/python3.10/site-packages/requests/__init__.py:109: RequestsDependencyWarning: urllib3 (1.26.9) or chardet (5.0.0)/charset_normal

[2022-06-28 07:56] s-m-e commented on #80
I split the package into two parts a while ago. Most of the plumbing related to `Wine` is handled by [wenv](https://github.com/pleiszenburg/wenv) now. You need to install its latest development version, too. I am "a little" overdue with publishing new releases for both packages ...

[2022-06-28 07:58] s-m-e commented on #79
@jayhop and @iwTao If your examples can be discussed under NDA perhaps feel free to reach out. I am still looking for a reliable way to reproduce this bug.

[2022-07-23 23:55] melvyn2 commented on #80
I had the same error due to my user-local pip `bin` directory not being in `PATH`. This package should probably call it by using `python -m wenv` instead, but in the mean time, try adding the location of pip's `bin` directory to your path.

[2022-07-24 00:00] melvyn2 opened #81 "`OSError: link could not be created` when installed as wheel"
This package expects to be installed as an egg, but gets installed as a wheel instead following the installation instructions in the README (`pip install git+https://github.com/pleiszenburg/zugbruecke.git@develop`). Wheels create a directory like `zugbruecke-0.1.0.dist-info` instead of the `zugbruecke.egg-info` that this package expects (https://github.com/pleiszenburg/zugbruecke/blob/develop/src/

[2022-08-24 11:37] jayhop commented on #79
@s-m-e Sorry for my late reply! I've added you to a private repo. I hope you can reproduce this bug.

[2022-08-24 12:30] s-m-e commented on #79
@jayhop Thanks! Will look into it.

[2022-09-11 12:13] s-m-e commented on #13
Fixed with v0.1.0.

[2022-09-11 12:13] #13 closed

[2022-09-11 12:14] s-m-e commented on #19
Moved from Travis to Github Actions.

[2022-09-11 12:15] s-m-e commented on #23
Tracking this in #25, probably for v0.2.0.

[2022-09-11 12:15] #23 closed

[2022-09-11 12:17] s-m-e commented on #48
Solved in v0.1.0.

[2022-09-11 12:17] #48 closed

[2022-09-11 12:17] s-m-e commented on #49
Fixed with v0.1.0.

[2022-09-11 12:17] #49 closed

[2022-09-11 12:19] s-m-e commented on #50
Technically dropped Ubuntu 14 and 16 from supported platforms as a consequence of dropping Wine < 6 in v0.1.0.

[2022-09-11 12:19] #50 closed

[2022-09-11 12:19] s-m-e commented on #51
Fixed in v0.1.0.

[2022-09-11 12:19] #51 closed

[2022-09-11 12:28] #46 closed

[2022-09-11 12:30] s-m-e commented on #81
Fixed in v0.1.0 (due to be released later today).

[2022-09-11 12:30] #81 closed

[2022-09-11 12:35] s-m-e commented on #80
I touched a fair bit of related code recently, as part of today's upcoming release of v0.1.0. If possible, please test it and let me know of the error persists.

[2022-09-11 12:36] s-m-e commented on #79
@jayhop Did a lot of cleanup, repaired CI etc and will release v0.1.0 today. I'll use this to bisect your issue.

[2022-09-11 12:39] s-m-e commented on #76
Fixed in v0.1.0.

[2022-09-11 12:39] #76 closed

[2022-09-11 12:39] s-m-e commented on #75
Fixed in v0.1.0.

[2022-09-11 12:39] #75 closed

[2022-09-11 12:40] s-m-e commented on #74
Fixed in v0.1.0.

[2022-09-11 12:40] #74 closed

[2022-09-11 12:40] s-m-e commented on #56
Fixed in v0.1.0.

[2022-09-11 12:40] #56 closed

[2022-09-11 12:43] s-m-e commented on #65
Fixed as part of v0.1.0 (no more `setup.py`).

[2022-09-11 12:43] #65 closed

[2022-09-11 12:44] s-m-e commented on #63
Fixed in v0.1.0.

[2022-09-11 12:44] #63 closed

[2022-09-11 12:44] s-m-e commented on #62
Fixed in v0.1.0.

[2022-09-11 12:44] #62 closed

[2022-09-11 12:44] s-m-e commented on #60
Fixed in v0.1.0.

[2022-09-11 12:44] #60 closed

[2022-09-11 12:45] s-m-e commented on #59
Not present in Wine >= 6.

[2022-09-11 12:45] #59 closed

[2022-09-11 12:46] s-m-e opened #83 "pytest >= 7 broken on Wine 7"

[2022-09-11 12:47] s-m-e commented on #57
Fixed "wont fix" in v0.1.0. `zugbruecke` follows the behavior of Wine Python underneath, whatever its version is.

[2022-09-11 12:47] #57 closed

[2022-09-11 12:48] s-m-e commented on #53
v0.1.0 does not attach to unix shared objects anymore. A missing DLL causes it to raise an exception as expected.

[2022-09-11 12:48] #53 closed

[2022-09-11 12:49] s-m-e commented on #52
Fixed in v0.1.0.

[2022-09-11 12:49] #52 closed

[2022-09-11 13:02] s-m-e opened #84 "Port logging code to use Python's std lib logging"
Also see #9.

[2022-09-11 13:14] s-m-e opened #85 "Benchmarks in docs and benchmark code are severely outdated"

[2022-09-11 17:47] s-m-e opened #86 "Python 3.11 support (Unix)"
As soon as it becomes available on CI.

[2022-09-11 17:47] s-m-e opened #87 "Python 3.11 support (Wine)"
As soon as stable embeddable builds become available.

[2022-09-12 07:29] jayhop commented on #79
Thanks for the update :pray:.

[2022-09-13 15:31] s-m-e commented on #79
@jayhop Findings so far: `zugbruecke` wont attach to your DLL file. However, it's not `zugbruecke` itself, it is `ctypes` underneath that does not want to. `zugbruecke` (on Linux) correctly reports what `ctypes` (on Wine) complains about. I have started a Windows version of Python on top of Wine directly, effectively eliminating `zugbruecke` from the equation - same result. It is worth noting that

[2022-09-21 12:14] jayhop commented on #79
@s-m-e that's suprising. Is it possible that the library `VCRUNTIME140_APP.dll` is missing in wine? Since my DLL depends on that.

[2022-10-03 03:32] hunkus opened #89 "Permission Error"
Currently, I am using the latest image(September 22nd 2022) on Raspberry Pi 4B.
After installing the latest version(0.1.0) and running the example code as shown below, the following error message appears.

I installed it using pip, is there anything else I need to configure?
However, the older version(0.0.15) is working fine in the current environment.

[code]

[2022-10-03 10:37] s-m-e commented on #89
You likely installed `zugbruecke` system-wide, e.g. with `sudo` (`sudo pip install zugbruecke`). As a result, `zugbruecke` tries to place its Wine prefix under `/usr/share/wenv/win32` where your user account likely does not have write permissions.

There are at least two ways forward.

1) You can install `zugbruecke` into a [virtual environment](https://packaging.python.org/en/latest/guides/instal

[2022-10-03 10:42] s-m-e commented on #89
Yes, the mechanism for creating and managing Wine prefixes was changed from 0.0.15 to 0.1.0. Before, they were automatically placed under `/home/user/.zugbruecke`. Unfortunately, this created it own set of issues, so now, the default location is `{sys.prefix}/share/`. As in your case, this can result in problems if the package is installed system-wide, i.e. `{sys.prefix} == '/usr'`.